/* For Log In */
.loginMainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
  margin-top: calc(10% + 60px);
  /* width: 30%; */
  min-width: 50vw;
  min-height: 20vw;
  border-radius: 10px;
}

.card-content.blue {
  /* border-radius: 10px; */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.placeholder {
  margin-top: 30vh;
  color: red;
}